{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
    
{{/each}}
<h1 class="display-4">Nova categoria:</h1>
<hr class="my-4">
<div class="card">
    <div class="card-body">
    <form method="POST">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome da categoria">
        </div>
        <div class="form-group">
            <label for="slug">Senha:</label>
            <input type="text" class="form-control" name="slug" id="slug" placeholder="Slug da categoria">
            <small class="form-text text-muted">Não é permitido letras maiúsculas e/ou caracteres especiais (*, @, #), substitua os espaços por " - ".</small>
        </div>
    <button type="submit" class="btn btn-primary">Cadastrar categoria</button>
    </form>
    <a href="/admin/categorias/read"><button type="submit" class="btn btn-secondary mt-2">Voltar</button></a>
</div>