<div class="jumbotron">
  <h1 class="display-4">Página de administração da aplicação:</h1>
  <hr class="my-4">
  <p>Selecione o que deseja fazer.</p>
  <a class="btn btn-primary btn-lg" href="/admin/categorias/create" role="button">Criar categoria</a>
  <a class="btn btn-info btn-lg" href="/admin/categorias/read" role="button">Lista de categorias</a>
  <a class="btn btn-primary btn-lg" href="/admin/postagens/create" role="button">Criar postagem</a>
  <a class="btn btn-info btn-lg" href="/admin/postagens/read" role="button">Lista de postagens</a>
</div>